@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Montserrat:wght@300;400;500;700&display=swap');

html,
body {
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 3px;
    background-clip: padding-box;
    border: 1 solid transparent;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 141, 39);
    font-weight: 500;
}

.navbar a:hover {
    color: rgb(241, 107, 68);
}

ul {
    list-style: none;
}

.navbar {
    border-bottom: 1px solid rgba(1, 36, 6, 0.12);
    padding: 3rem 0rem;
    height: 0rem;
    min-height: 12vh;
    position: absolute;
}

.navbar .navbar-brand a {
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}

.container-fluid .navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 2.0rem;
    color: rgb(255, 141, 39);
}

.navbar-toggler {
    background: rgb(255, 141, 39);
    border: none;
    padding: 10px 10px;
    outline: none;
}

.navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background-color: rgb(241, 107, 68);
}

.navbar-toggler span+span {
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}

.navbar-toggler span+span+span {
    width: 10px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(255, 236, 98);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 141, 39);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width:992px) {

    .navbar,
    .navbar .container-fluid,
    .navbar-collapse {
        padding: 0 2rem;
        /*background-image: linear-gradient(to bottom, rgb(0, 0, 0),rgb(128, 128, 128), rgb(255, 255, 255));*/
    }
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 2rem 1rem;
    font-size: 1.10rem;
    position: relative;
}

.navbar-expand-md .navbar-nav .nav-link:hover {
    border-top: 4px solid rgb(241, 107, 68);
}

.navbar-expand-md .navbar-nav .nav-link:active {
    border-top: 4px solid rgb(255, 236, 98);
    color: orange;

}


img {
    height: 350px;
}

h5:hover {
    color: blue;
}


.main {
    margin: auto;
    position: relative;
    height: 10em;
    align-items: center;

}



